.home{
    padding: 4rem;
    padding-bottom: 0;
    display: inline-table;
}
.image{
    max-width: 300px;
    z-index: -5;
    border-radius: 50%;
    box-shadow: 0 0 20px 0 #ffffff;
}
.name{
    font-family: 'Mali', cursive;
    font-weight: 400;
    margin: 0rem;
}
.icons, .icons a {
    color: #ffffff;
    font-size: 40px;
    margin-top: 2rem;
    
}
.icons svg {
    margin: 0.8rem;
}
.icons svg:hover, .icons a:hover{
    color: #ff8800;
    transition: 2s, 2s, 2s;
    transform: rotate(360deg);
    transition-duration: 0.5s;
    cursor: pointer;
    border-bottom: none;
}
