$white: #ffffff;
$orange: #ff8800;

.row{
    display: flex;
    justify-content: space-between;
}
.label{
    font-weight: 400;
    font-family: "Eurostile", sans-serif;
    font-size: 1.4rem;
    color: $white;
    width: 100%;
    text-align: left;
}
.input{
    width: 100%;
    font-size: 1.2rem;
    padding: 4%;
    border-radius: 3px;
    flex: 1;
    box-sizing: border-box;
    margin: 0;
    border: 2px solid $orange;
    box-shadow: 0 0 4px 0 $white;
}
.field {
    padding: 0.5rem;
    flex: 1;
}
form{
    display: flex;
    flex-direction: column;
    max-width: 700px;
    margin: auto;
}
textarea{
    resize: vertical;
}

$colors: (submit: $orange);
@each $button, $color in $colors {
    .#{$button} {
      --color: #{$color};
      --hover: #{adjust-hue($color, 360deg)};
    }
}
.submit {  
    float: right;
    font-family: "Amatic SC";
    width: 130px;
    background: none;
    border: 3px solid;
    border-radius: 7px;
    font: inherit;
    line-height: 0;
    padding: 1em 2em;
    color: var(--color);
    transition: 0.25s;
    box-shadow: 0 0 2px 0 #fff;

    &:hover,
    &:focus { 
        border-color: var(--hover);
        box-shadow: 0 0 4px 0 #fff;
        background: $orange;
        color: #fff;
    }
}
.Toastify__toast--warning {
    background: $orange;
}