.row{
    display: flex;
    justify-content: space-between;
}
.label{
    font-weight: 400;
    font-family: "Eurostile", sans-serif;
    font-size: 1.4rem;
    color: rgb(253, 253, 253);
    width: 100%;
    text-align: left;
}
.input{
    width: 100%;
    font-size: 1.2rem;
    padding: 4%;
    border-radius: 3px;
    flex: 1;
    box-sizing: border-box;
    margin: 0;
}
.field {
    padding: 0.5rem;
    flex: 1;
}
form{
    display: flex;
    flex-direction: column;
    max-width: 700px;
    margin: auto;
}
textarea{
    resize: vertical;
}