.links {
    /* margin-bottom: 1%; */
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 22px;
    box-shadow: 0px -7px 15px 8px #0000007d;
    padding: 1rem 0 ;
}
#link {
    margin: 0 10px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease;
}
#link:hover, #link:focus{
    transform: scale(2);
    border-bottom: 3px solid #ff8800;
    border-radius: 5px;
}
.tabs {
    position: fixed;
    top: 0;
    z-index: 1;
    height: 88%;
    overflow: auto;
    width: 100%;
    box-sizing: border-box;
}