.links {
    margin-bottom: 1%;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 20px;
    box-shadow: 0px -7px 15px 8px #0000007d;
    padding: 1rem 0 ;

}
.link {
    margin: 0 10px;
}
.tabs {
    position: fixed;
    top: 0;
    z-index: 1;
    height: 88%;
    overflow: auto;
    width: 100%;
    box-sizing: border-box;
}
  