main {
  align-content: center;
  box-sizing: border-box;
  display: grid;
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
  hyphens: auto;
  line-height: 1.65;
  margin: 0 auto;
  /* max-width: 680px; */
  min-height: 100vh;
  text-align: center;
}
h1 {
  font-size: 40px;
  color: white;
  margin: 2%;
  line-height: 50px
}
#h1-title{
  font-size: 40px;
  color: white;
  margin: 2%;
  text-align: left;
}
h2 {
  margin-top: 1.5em;
  color: white;
}
p{
  color: white;
  font-size: 22px;
  font-family: "Eurostile", sans-serif;
  width: 700px;
  margin: 0px 0px 0 25px;
  text-align: justify;
}
code,
pre {
  color: #d400ff;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace, serif;
  font-size: 0.92em;
}
code:before,
code:after {
  content: '\`';
}
.div-all{
  padding: 35px;
}